header {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

h1 {
    font-size: 19px;
    color: rgb(25, 25, 135);
}

ul {
    font-size: 15px;
    color: rgb(25, 25, 135);
    display: flex;
    gap: 40px;
}

.relative {
    position: relative;
    top: 15vh;
    text-align: right;
    z-index: 1;
}

img {
    width: 50vw;
    height: auto;
    margin: 0 0 0 auto;
}

p {
    display: flex;
    position: absolute;
    top: 40vh;
    font-size: calc(5.5vw);
    color: black;
    text-align: left;
}

.absolute{
    position: absolute;
    width: 75vw;
    height: 23vh;
    background-size: auto;
    background: rgb(22, 22, 138);
    text-align: left;
    z-index: 0;  
}