header {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

h1 {
    font-size: 25px;
    color: rgb(25, 25, 135);
}

ul {
    font-size: 20px;
    color: rgb(25, 25, 135);
    display: flex;
    gap: 40px;
}

.relative {
    position: relative;
    top: 80px;
    text-align: right;
    z-index: 1;
}

img {
    width: 50vw;
    height: auto;
}

.blue-box {
    width: 75%;
    aspect-ratio: 5 / 1;
    top: 530px;
    background-color: rgb(22, 22, 138);
    z-index: 0;
}

p {
    font-size: 50px;
    color: black;
    text-align: left;
    transform: translate(0px, -260px);
}